@model GamesWorkshop.Domain.View.UserModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<!-- content-section-starts -->
<div class="content">
	<div class="container">
		<div class="login-page">
			    <div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a asp-controller="Product" asp-action="Index" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Login
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="index.html">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
			   <div class="account_grid">
			   <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
			  	 <h2>NEW CUSTOMERS</h2>
				 <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
				 <a class="acount-btn" asp-controller="Account" asp-action="Registration">Create an Account</a>
			   </div>
			   <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
			  	<h3>REGISTERED CUSTOMERS</h3>
				<p>If you have an account with us, please log in.</p>
					<form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">
					  <div>
						<span>Email Address<label>*</label></span>
						<input asp-for="Email" type="text"> 
					  </div>
					  <div>
						<span>Password<label>*</label></span>
						<input asp-for="Password" type="password"> 
					  </div>
					  <div>
						  <span>Remember Me?</span>
						  <input asp-for="RememberMe" class="form-check-input"/>
					  </div>
						<div asp-validation-summary="All" class="text-danger"></div>
					  <a class="forgot" href="#">Forgot Your Password?</a>
					  <input type="submit" value="Login">
					</form>
			   </div>	
			   <div class="clearfix"> </div>
			 </div>
		   </div>
		</div>
</div>

