@model GamesWorkshop.Domain.View.ProfileModels.UserLoginInfoViewModel;

@{
    ViewData["Title"] = "ChangePasswordDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="display:block;width:50%;margin:0 auto;">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <form method="post" id="accountFormId">
                    <input asp-for=@Model.Email hidden="hidden"/>
                    <h2>Change password</h2>
                    <div class="mb-3 form-group">
                        <label class="form-label">Old Password</label>
                        <input type="password" class="form-control" placeholder="" asp-for="@Model.OldPassword"/>
                    </div>
                    <div class="mb-3 form-group">
                        <label class="form-label">New Password</label>
                        <input type="password" class="form-control" placeholder="" asp-for="@Model.NewPassword"/>
                        <div class="form-text">Password must contain </div>
                    </div>
                  <div class="card-buttons-group" style="margin-bottom:100px;">
                      <button class="btn btn-primary" id="saveAccountButtonId">Change password</button>
                  </div>
                </form>
                  <div class="card-buttons-group" style="margin-bottom:100px;">
                       <button class="btn btn-primary" onclick="location.href='@Url.Action("Detail", "UserAccount")'" id="saveAccountButtonId" type="button">Back</button>
                  </div>
            </div>
        </div>
    </div>
</div>


@section pageScripts{
        <script>
                    $('#saveAccountButtonId').on('click',function(e){
                    e.preventDefault();
                    $.ajax({
                        url:'@Url.Action("ChangePassword", "Account")',
                        type:'POST',
                        data:$('#accountFormId').serialize(),

                        success:function(response){
                            Swal.fire({
                                position:'top-end',
                                title:'Information',
                                text:response.description,
                                icon:'success',
                                timer:1500,
                                showConfirmButton:false
                            })
                        },
                        error:function(response){
                            Swal.fire({
                                title:'Information',
                                text:'Wrong password',
                                icon:'error',
                                confirmButtonText:'Ok'
                            })
                        }
                    })
                })
        </script>
}
