<!DOCTYPE html>
<html lang="en">
<head>
	@await Html.PartialAsync("HeadPartial")
</head>
<body>
	<header>
		@{
			await Html.RenderPartialAsync("HeaderPartial");
		}
	</header>
	@await Html.PartialAsync("BannerPartial");
	<div>
		<main role="main">
			@RenderBody()
		</main>
	</div>
	@await Html.PartialAsync("NewsLetterPartial");
	<footer>
		@await Html.PartialAsync("FooterPartial");
	</footer>
	@await RenderSectionAsync("pageScripts", false);
</body>
</html>

