
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-top">
		<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
				<div class="logo">
					<h1><a href="index.html">GamesWorkshop</a></h1>
				</div>
		</div>
		<!--/.navbar-header-->

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			<li><a asp-controller="Home" asp-action="Index">Home</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Men <b class="caret"></b></a>
					<ul class="dropdown-menu multi-column columns-3">
						<div class="row">
							<div class="col-sm-4">
								<ul class="multi-column-dropdown">
									<h6>NEW IN</h6>
									<li><a href="products.html">New In Clothing</a></li>
									<li><a href="products.html">New In Bags</a></li>
									<li><a href="products.html">New In Shoes</a></li>
									<li><a href="products.html">New In Watches</a></li>
									<li><a href="products.html">New In Grooming</a></li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="multi-column-dropdown">
									<h6>CLOTHING</h6>
									<li><a href="products.html">Polos & Tees</a></li>
									<li><a href="products.html">Casual Shirts</a></li>
									<li><a href="products.html">Casual Trousers</a></li>
									<li><a href="products.html">Jeans</a></li>
									<li><a href="products.html">Shorts & 3/4th</a></li>
									<li><a href="products.html">Formal Shirts</a></li>
									<li><a href="products.html">Formal Trousers</a></li>
									<li><a href="products.html">Suits & Blazers</a></li>
									<li><a href="products.html">Track Wear</a></li>
									<li><a href="products.html">Inner Wear</a></li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="multi-column-dropdown">
									<h6>WATCHES</h6>
									<li><a href="products.html">Analog</a></li>
									<li><a href="products.html">Chronograph</a></li>
									<li><a href="products.html">Digital</a></li>
									<li><a href="products.html">Watch Cases</a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">women <b class="caret"></b></a>
					<ul class="dropdown-menu multi-column columns-3">
						<div class="row">
							<div class="col-sm-4">
								<ul class="multi-column-dropdown">
									<h6>NEW IN</h6>
									<li><a href="products.html">New In Clothing</a></li>
									<li><a href="products.html">New In Bags</a></li>
									<li><a href="products.html">New In Shoes</a></li>
									<li><a href="products.html">New In Watches</a></li>
									<li><a href="products.html">New In Beauty</a></li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="multi-column-dropdown">
									<h6>CLOTHING</h6>
									<li><a href="products.html">Polos & Tees</a></li>
									<li><a href="products.html">Casual Shirts</a></li>
									<li><a href="products.html">Casual Trousers</a></li>
									<li><a href="products.html">Jeans</a></li>
									<li><a href="products.html">Shorts & 3/4th</a></li>
									<li><a href="products.html">Formal Shirts</a></li>
									<li><a href="products.html">Formal Trousers</a></li>
									<li><a href="products.html">Suits & Blazers</a></li>
									<li><a href="products.html">Track Wear</a></li>
									<li><a href="products.html">Inner Wear</a></li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="multi-column-dropdown">
									<h6>WATCHES</h6>
									<li><a href="products.html">Analog</a></li>
									<li><a href="products.html">Chronograph</a></li>
									<li><a href="products.html">Digital</a></li>
									<li><a href="products.html">Watch Cases</a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">kids <b class="caret"></b></a>
					<ul class="dropdown-menu multi-column columns-2">
						<div class="row">
							<div class="col-sm-6">
								<ul class="multi-column-dropdown">
									<h6>NEW IN</h6>
									<li><a href="products.html">New In Boys Clothing</a></li>
									<li><a href="products.html">New In Girls Clothing</a></li>
									<li><a href="products.html">New In Boys Shoes</a></li>
									<li><a href="products.html">New In Girls Shoes</a></li>
								</ul>
							</div>
							<div class="col-sm-6">
								 <ul class="multi-column-dropdown">
									<h6>ACCESSORIES</h6>
									<li><a href="products.html">Bags</a></li>
									<li><a href="products.html">Watches</a></li>
									<li><a href="products.html">Sun Glasses</a></li>
									<li><a href="products.html">Jewellery</a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
					</ul>
				</li>
					<li><a href="typography.html">TYPO</a></li>
					<li><a href="contact.html">CONTACT</a></li>
			</ul>
		</div>
		<!--/.navbar-collapse-->
	</nav>
	<!--/.navbar-->
</div>
</div>
	<div class="banner">
		<div class="container">
<div class="banner-bottom">
	<div class="banner-bottom-right">
		<div  class="callbacks_container">
					<ul class="rslides" id="slider4">
					<li>
								<div class="banner-info">
									<h3>Join the universe</h3>
									<p>Start your shopping here...</p>
								</div>
							</li>
							<li>
								<div class="banner-info">
								   <h3>Shop Online</h3>
									<p>Start your shopping here...</p>
								</div>
							</li>
							<li>
								<div class="banner-info">
								  <h3>Pack your Bag</h3>
									<p>Start your shopping here...</p>
								</div>								
							</li>
						</ul>
					</div>
					<!--banner-->
				  <script src="~/js/responsiveslides.min.js"></script>
			 <script>
				// You can also use "$(window).load(function() {"
				$(function () {
				  // Slideshow 4
				  $("#slider4").responsiveSlides({
					auto: true,
					pager:true,
					nav:false,
					speed: 500,
					namespace: "callbacks",
					before: function () {
					  $('.events').append("<li>before event fired.</li>");
					},
					after: function () {
					  $('.events').append("<li>after event fired.</li>");
					}
				  });

				});
			  </script>
	</div>
	<div class="clearfix"> </div>

</div>
	<div class="shop">
		<a href="single.html">SHOP COLLECTION NOW</a>
	</div>
	</div>
</div>