<div class="footer">
	<div class="container">
		<div class="footer_top">
			<div class="span_of_4">
				<div class="col-md-3 span1_of_4">
					<h4>support</h4>
					<ul class="f_nav">
						<li><a href="#">Find your store</a></li>
						<li><a href="#">Contact us</a></li>
						<li><a href="#">Delivery</a></li>
						<li><a href="#">Returns</a></li>
						<li><a href="#">Shopping FAQs</a></li>
					</ul>
				</div>
				<div class="col-md-3 span1_of_4">
					<h4>account</h4>
					<ul class="f_nav">
						<li><a href="account.html">login</a></li>
						<li><a href="register.html">create an account</a></li>
						<li><a href="#">create wishlist</a></li>
						<li><a href="checkout.html">my shopping bag</a></li>
						<li><a href="#">brands</a></li>
						<li><a href="#">create wishlist</a></li>
					</ul>
				</div>
				<div class="col-md-3 span1_of_4">
					<h4>warhammer games</h4>
					<ul class="f_nav">
						<li><a href="https://www.warhammer.com/en-FI/Warhammer-40-000-Footer">Warhammer 40,000</a></li>
						<li><a href="https://www.warhammer.com/en-FI/Warhammer-Age-of-Sigmar">Warhammer Age of Sigmar</a></li>
						<li><a href="https://www.warhammer.com/en-FI/The-Horus-Heresy">Warhammer The Horus Heresy</a></li>
						<li><a href="https://www.warhammer.com/en-FI/Middle-earth-Footer">Middle-earth Strategy Battle Game</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="cards text-center">
			<img src="~/images/cards.jpg" alt="" />
		</div>
		<div class="copyright text-center">
			<p>© 2023 GamesWorkshop. All Rights Reserved</p>
		</div>
	</div>
</div>