
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - GamesWorkShop</title>

<!-- CSS -->
<link href="~/css/bootstrap.css" rel="stylesheet" asp-append-version="true" type="text/css" />
<link href="~/css/style.css" rel="stylesheet" asp-append-version="true" type="text/css" media="all" />
<link rel="stylesheet" href="~/css/flexslider.css" asp-append-version="true" type="text/css" media="screen" />

<!-- JavaScript -->
<script src="~/js/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/bootstrap-3.1.1.min.js" asp-append-version="true"></script>
<script src="~/js/simpleCart.min.js" asp-append-version="true"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>

