<div class="header">
    <div class="header-top-strip">
        <div class="container">
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="header-top-left">
                    <ul>
                        <li><a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path"><img style="width:23px;height:23px;margin-right:6px;" src="~/images/Warhammer.svg" /> Login</a></li>
                        <li><a asp-controller="Account" asp-action="Registration"><span class="glyphicon glyphicon-lock"> </span>Create an Account</a></li>
                    </ul>
                </div>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <div class="header-top-left">
                    <ul>
                        <li><a asp-controller="UserAccount" asp-action="Detail"><span class="glyphicon glyphicon-user"> </span>Account</a></li>
                        <li><a asp-controller="Account" asp-route-returnUrl="@Context.Request.Path" asp-action="Logout"><span class="glyphicon glyphicon-lock"> </span>Logout</a></li>

                        <li>
                            <div class="header-right">
                                <div class="cart box_1">
                                    <a asp-controller="Cart" asp-action="Detail">
                                        <img asp-controller="Cart" asp-action="Detail" src="~/images/bag.png" alt="">
                                    </a>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
