@model GamesWorkshop.Domain.View.OrderModels.CreateOrderViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Create order page</h1>

<p> Product Id: @Model.ProductId</p>