@model List<GamesWorkshop.Domain.View.ProductModels.ProductViewModel>;

@{
	ViewData["Title"] = "GetProducts";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var product in Model)
{
    <h2>@product.Name</h2>
    <ul>
            <li><p>Price: @product.Price</p></li>
            <li><p>Category: @product.Category</p></li>
    </ul>
    <img src="@product.ImageSrc">
    <br />
}

